{% extends 'index.html' %}
{% load static %}
{% block extra %}
    <link href="{% static 'plugins/dropzone/dropzone.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h2>学员在线报名</h2>

    <div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">学员报名信息</h3>
        </div>
        <div class="panel-body">
            <form class="form" method="post" onsubmit="return beforesubmit(this)">
            {% csrf_token %}
            {% for field in stu_forms %}
                <div class="form-group col-lg-6">
                    <label  class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-5" >
                        {{ field }}
                        <span style="color:red;"> {{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group col-lg-6">
                <label  class="col-sm-2 control-label">报名班级</label>
                <div class="col-sm-6" >
                    {{ stu_obj.class_grade }}
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label  class="col-sm-2 control-label">学费</label>
                <div class="col-sm-6" >
                    {{ stu_obj.class_grade.course.price }}
                </div>
            </div>
             <br>

            <div>
            <pre style="height: 200px;">{{ stu_obj.class_grade.contract_template.content }}</pre>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-10">
                    <input type="checkbox" name="contract_agreed">我已认真阅读，并同意此合同
                <input type="submit" class="btn btn-success " value="提交" >
                </div>
            </div>
            </form>
        <br>
        <hr>
        <br>

        <p>已上传的文件列表(总数限3个)：</p>
        <ul name="file_ul">
            {% for file in upload_files %}

                <li>{{ file }} <a href="javascript:;">删除</a></li>

            {% endfor %}
        </ul>

        <div>
        <form action="{% url 'stu_fileupload' obj_id %}" class="dropzone" id="myAwesomeDropzone">
           <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
            </div>


        </div>
        <div class="panel-footer">结束</div>
    </div>
    </div>



{% endblock %}
{% block my_jquery %}
    <script src="{% static 'plugins/dropzone/dropzone.js' %}"></script>
    <script>
    function beforesubmit(ele) {
        $(':disabled').removeAttr('disabled');
        if ($('ul[name]').children().length == 0) {
            alert('请上传证件信息')
            return false;
        }
        if (!$('input[name="contract_agreed"]').prop('checked')){
            alert('请仔细阅读协议，并勾选')
            return false;
        }

    }
    Dropzone.options.myAwesomeDropzone = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        maxFiles: 3,
        accept: function(file, done) {
        if (file.name == "justinbieber.jpg") {
        done("Naha, you don't.");
     }
        else { done(); }
    }
    };
    Dropzone.options.myAwesomeDropzone = false;
    $(function() {

{#        var file_list = $('ul[name]').text().replace(/[\r\n]/g,"").replace(/[ ]/g,"")#}
{#                        .split('删除');#}

        var myDropzone = new Dropzone("#myAwesomeDropzone");
        myDropzone.on("success", function (file,response) {
            var data = JSON.parse(response);
            if (!data.status){
                alert(data.err_msg)
            }else {
                if (data.file_obj_name){
{#                var index =  $.inArray(data.file_obj_name, file_list);#}
{#                if (index < 0) {#}
{#                    file_list.push(data.file_obj_name);#}
                    $('ul[name]').append('<li>' + data.file_obj_name + '<a href="javascript:;">删除</a></li>')
                }}
        })
    });
    $('ul li a').on('click', function(){
        var file_name = $(this).parent().text();
        var $li = $(this).parent()
        $.post("{% url 'stu_agreement' obj_id %}",{'file_name':file_name,},function(data){
            if (data) {
                $li.remove();
            }
        })

    });
    </script>
{% endblock %}